{{/* News Widget */}}

{{/* Initialise */}}
{{ $ := .root }}
{{ $st := .page }}
{{ $items_type := $st.Params.content.page_type | default "news" }}
{{ $items_offset := $st.Params.content.offset | default 0 }}
{{ $items_count := $st.Params.content.count }}

{{/* Query */}}
{{ $query := where site.RegularPages "Type" $items_type }}
{{ $archive_page := site.GetPage "Section" $items_type }}



{{/* Localisation */}}
{{ $i18n := "" }}
<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ with $st.Title }}{{ . | markdownify | emojify }}{{ end }}</h1>
    {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}

    <!-- <div class="see-all">
      <a href="{{ $archive_page.RelPermalink }}">
        {{ i18n $i18n | default "See all" }}
        <i class="fas fa-angle-double-right"></i>
       </a>
       
    </div> -->
    
  </div>
  <div class="col-12 col-lg-8 " >
    
      <div class="view-list-item">
        <i class="" aria-hidden="true"></i>
        <div>I am fortunate to work with the following talented students</div><br/>
          <b>PhD students</b>
          <ul>
            <li> <a href="https://lirawang.github.io/">Haodi Wang</a> (Spring'21, visiting from BNU)</li>
            <li> Thanh Tung Le (Fall'21)</li>
            <li>Arman Riasi (Fall'22)</li>
          </ul>
          <b>MS students</b>
          <ul>
            <li> Matthew Harrington (Fall'21, co-advise w/ <a href="https://people.cs.vt.edu/~jicho/">Jin-Hee Cho</a>)</li>
            <li> Trevor Miller (Spring'22)</li>
            <li> Kavya Sundaram (Fall'22)</li>
            <li> Jacob Haltiwanger (Fall'22)</li>
          </ul>
          <b>Undergraduate</b>
          <ul>
            <li>Jan Michalak</li>
          </ul>
      
          <h2> Alumni </h2>
          
          <li> <a href="https://mohitbt.com/">Mohit Bhasi</a> (MS, Spring'22)</li>
            <div style="margin-left:20pt"><u>Thesis:</u> Privacy-Preserving and Immutable Audit Log for Sensitive Data Operations</div>
            <div style="margin-left:20pt"><u>Current Position:</u> Software Engineer @ Robinhood</div>
            
        </div>

      
    
    
  </div>
</div>
