{{/* News Widget */}}

{{/* Initialise */}}
{{ $ := .root }}
{{ $st := .page }}
{{ $items_type := $st.Params.content.page_type | default "news" }}

{{/* Get current date */}}
{{ $currentDate := now }}

{{/* Compute the cutoff date (1.5 years ago from today) */}}
{{ $oneAndHalfYearsAgo := now.AddDate 0 -18 0 }}

{{/* Compute the cutoff date for highlighting (3 months ago) */}}
{{ $threeMonthsAgo := now.AddDate 0 -3 0 }}

{{/* Query all news items */}}
{{ $query := where site.RegularPages "Type" $items_type }}

{{ $archive_page := site.GetPage "Section" $items_type }}

<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ with $st.Title }}{{ . | markdownify | emojify }}{{ end }}</h1>
    {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}

    <div class="see-all">
      <a href="{{ $archive_page.RelPermalink }}">
        {{ i18n "more_news" | default "See all" }}
        <i class="fas fa-angle-double-right"></i>
      </a>
    </div>
  </div>

  <div class="col-12 col-lg-8 news">
    {{ with $st.Content }}{{ . }}{{ end }}

    {{ $count := 0 -}}

    <div class="view-list-item">  {{/* This now wraps ALL news entries correctly */}}
      <i class="" aria-hidden="true"></i> 

      {{ range $post := $query -}}
        {{ range $ct, $newsItem := $post.Params.news -}}
          {{ $newsDate := time $newsItem.date -}}

          {{/* Stop if we reach 10 entries */}}
          {{- if ge $count 10 -}}
            {{- break -}}
          {{- end -}}

          {{/* Only include news from the last 1.5 years */}}
          {{- if ge $newsDate $oneAndHalfYearsAgo -}}
            {{ $count = add $count 1 -}}

            <div>
              {{- if or (ge $newsDate $threeMonthsAgo) $newsItem.highlight -}}
                <div class="newsDate newsHighlightDate">
              {{- else -}}
                <div class="newsDate">
              {{- end -}}
                  {{ $newsDate.Format "Jan 02, 2006" }}
                </div>

              {{- if or (ge $newsDate $threeMonthsAgo) $newsItem.highlight -}}
                <div class="newsTitle newsHighlightTitle">
              {{- else -}}
                <div class="newsTitle">
              {{- end -}}
                  {{ $newsItem.title | markdownify }}
                </div>
            </div>

          {{- end -}}
        {{- end -}}
      {{- end -}}

    </div> {{/* Closes the single wrapping div */}}
  </div>
</div>
