{{/* Thang edit: Pages Widget */}}

{{/* Initialise */}}
{{ $ := .root }}
{{ $st := .page }}
{{ $items_type := $st.Params.content.page_type | default "publication" }}
{{ $items_offset := $st.Params.content.offset | default 0 }}
{{ $items_sort := $st.Params.content.order | default "desc" }}

{{/* Query: Get only publications */}}
{{ $query := where site.RegularPages "Type" "publication" }}

{{ $archive_page := site.GetPage "Section" $items_type }}

{{/* Filters */}}
{{ if $st.Params.content.filters.tag }}
  {{ $query = where $query "Params.tags" "intersect" (slice $st.Params.content.filters.tag) }}
{{ end }}
{{ if $st.Params.content.filters.category }}
  {{ $query = where $query "Params.categories" "intersect" (slice $st.Params.content.filters.category) }}
{{ end }}
{{ if $st.Params.content.filters.publication_type }}
  {{ $query = where $query "Params.publication_types" "intersect" (slice $st.Params.content.filters.publication_type) }}
{{ end }}
{{ if $st.Params.content.filters.author }}
  {{ $query = where $query "Params.authors" "intersect" (slice $st.Params.content.filters.author) }}
{{ end }}
{{ if $st.Params.content.filters.exclude_featured }}
  {{ $query = where $query "Params.featured" "!=" true }}
{{ end }}
{{ if $st.Params.content.filters.exclude_past }}
  {{ $query = where $query "Date" ">=" now }}
{{ end }}
{{ if $st.Params.content.filters.exclude_future }}
  {{ $query = where $query "Date" "<" now }}
{{ end }}

{{/* Thang edit start: Keep 5 years & since PhD (2015) */}}
{{ $currYear := int (now.Format "2006") }}
{{ $FiveYearsAgo := sub $currYear 5 }}
{{ $filterDateFiveYearsAgo := print $FiveYearsAgo "-01-01T00:00:00-05:00" | time }}
{{ $queryA := where $query "Date" ">=" $filterDateFiveYearsAgo }}

{{ $SincePhD := 2015 }}
{{ $filterDateSincePhD := print $SincePhD "-01-01T00:00:00-05:00" | time }}
{{ $queryB := where $query "Date" ">=" $filterDateSincePhD }}
{{ $queryB = where $queryB "Params.highlight" "=" 1 }}

{{ $query = $queryA | union $queryB }}
{{ $query = sort $query "Date" $items_sort }}
{{ $count := len $query }}
{{/* Thang edit end */}}

{{/* Localisation */}}
{{ $i18n := "" }}
{{ if eq $items_type "post" }}
  {{ $i18n = "more_posts" }}
{{ else if eq $items_type "talk" }}
  {{ $i18n = "more_talks" }}
{{ else if eq $items_type "publication" }}
  {{ $i18n = "more_publications" }}
{{ else }}
  {{ $i18n = "more_pages" }}
{{ end }}

<div class="row">
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ with $st.Title }}{{ . | markdownify | emojify }}{{ end }}</h1>
    {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}

    <div class="see-all">
      <a href="{{ $archive_page.RelPermalink }}">
        {{ i18n $i18n | default "See all" }}
        <i class="fas fa-angle-double-right"></i>
      </a>
    </div>

    <div style="padding-bottom: 1rem"><small><u>underlined</u> are my advisees during the project lifespan</small></div>
  </div>
  
  <div class="col-12 col-lg-8">
    {{ with $st.Content }}{{ . }}{{ end }}

    {{/* Track last printed year */}}
    {{ $lastYear := "" }}

    {{ range $query }}
      {{ partial "li_citation" (dict "entry" . "lastYear" $lastYear) }}
      {{ $lastYear = .Date.Format "2006" }} <!-- Update lastYear -->
    {{ end }}

    <p style="margin-top: 0.5rem;font-size:0.85rem">
      For a full list of publications, including older ones, click <a href="publication/">here</a>.
    </p>
  </div>
</div>
