/* @font-face {
  font-family: 'Alegreya Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Regular'), url('fonts/Alegreya/Alegreya-Regular.ttf');
}*/

@font-face {
  font-family: 'Source Serif Pro Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Source Serif Pro Regular'), url('fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf');
}
