/*************************************************
 *  Dark themed components
 **************************************************/


 /* Thang edit for dark theme, now we have to edit MANUALLY */
 .dark a
{
  color: #E87722;
}

.dark .highlight
{
  color: #CE0058;
}

.dark a:hover
{
  color: #FCE1CD !important;
}

/* dropdown of switch theme */
.dark .navbar
{
  background-color: #23252f;
}
.dark .navbar-brand
{
  color: #E87722 !important;
}

.dark a.nav-link.active .navItem
{
  color:#E87722 !important;
}

.dark a.nav-link .navItem
{
  color:#fff !important;
}
.dark a.dropdown-item
{
  color:#fff !important;
}

.dark
  {.navbar
  {
    .dropdown-item.active,
    .dropdown-item-active {
      font-weight: bold;
      color: #E87722 !important;
    }
  }
}


/* publication entry */
.dark .pub-tag{
  flex-shrink: 0;
  width: 4rem; /* Ensures all entries start at the same point */
  display: flex;
  justify-content: flex-start; /* Align tags to the left */
  text-align: left;
}
.dark .pub-tag-label{
display: inline-block;
margin-top: 0.2rem; /* Moves the tag slightly downward */
background: rgba(52, 152, 219, 0.3); /* Transparent soft color */
color: white;
font-size: 0.75rem;
font-weight: bold;
padding: 0.0rem 0.3rem;
border-radius: 4px;
max-width: 3.8rem; /* Enforce max limit */
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.dark .pub-year{
  position: absolute;
  top: -2rem;
  right: 0;
  font-size: 4rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.07);
}
.dark .pub-year-separator{
margin-top: 2rem; 
padding-top: 1rem; 
border-top: 2px solid rgba(255, 255, 255, 0.2);
}




/* dropdown of MAIN menu */
.dark .dropdown-menu {
  background-color: #23252f !important;
  color: #fff !important;
  z-index: 1032;  // I18n dropdown over mobile expanded menu.
}

.dark .dropdown-item {
  background-color: #23252f !important;
  color: #fff !important;
  text-transform: capitalize;
}

.dark .navbar-toggler
{
  background-color: #23252f !important;
  color: #fff !important;
  text-transform: capitalize;
}

.dark .navbar-collapse
{
  background-color: #23252f !important;
}

/* experiment timeline */
.dark 
{
  .experience .m-2 .border,
  .experience .col.border-right 
  {
    border-color: #E87722 !important;
  }

  .experience .m-2 .border.exp-fill 
  {
    background-color: #E87722 !important;
    border-color: #E87722 !important;
  }

}


/* button in publication */

.dark
{
  .btn.btn-sm 
  {
    border-color:#E87722 !important;
  }
  a.btn:hover
  {
    background-color: #E87722 !important;
  }
  .btn
  {
    color:#E87722 ;
    border-color:#E87722;
  }
  .btn:hover
  {
    background-color: #E87722;
    color:#fff;
  }
}
/* end Thang edit */

body.dark,
.dark .docs-toc-link,
.dark .docs-sidebar .nav > li:not(.active) > a,
.dark .modal button.close,
.dark input,
.dark .form-control,
.dark .form-control:focus {
  color: rgb(248, 248, 242);
  background: $sta-dark-background;
}

.dark .form-control {
  background-color: rgb(68, 71, 90);
}

.dark .form-control:focus {
  background-color: rgb(68, 71, 90);
  border-color: $sta-primary;
  box-shadow: 0 0 0 .2rem $sta-primary-dark;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: rgb(152, 166, 173);
}

.dark pre,
.dark code {
  color: rgb(139, 233, 253);
  background-color: rgb(68, 71, 90);
}

.dark pre {
  background-color: rgb(68, 71, 90);
  border-color: rgb(68, 71, 90);
}

.dark .markup-quote {
  background-image: linear-gradient(to bottom, rgba(233, 231, 245, 0.2), rgba(233, 231, 245, 0.2));
}

.dark #MathJax_Zoom {
  background-color: rgb(68, 71, 90) !important;
}

.dark table table {
  background-color: rgb(40, 42, 54);
}

/* Table Striped */
.dark table > tbody > tr:nth-child(odd) > td,
.dark table > tbody > tr:nth-child(odd) > th {
  background-color: rgb(50, 52, 64);
}

/* Table Hover */
.dark table > tbody > tr:hover > td,
.dark table > tbody > tr:hover > th {
  background-color: rgb(60, 62, 74);
}

.dark .article-title a {
  color: #fff;
}

.dark .portrait-title h2 {
  color: #fff;
}

.dark .portrait-title h3 {
  color: rgba(255, 255, 255, 0.54);
}

.dark ul.ul-edu li .description p.institution {
  color: rgba(255, 255, 255, 0.6);
}

.dark .pub-icon {
  color: rgba(255, 255, 255, 0.54);
}

.dark .talk-metadata {
  color: rgba(255, 255, 255, 0.54);
}

.dark .pagination li > a, .pagination li > span {
  background-color: rgb(40, 42, 54);
  border: 1px solid #ddd;
}

.dark .card {
  background: #343a40;
}

.dark .card h4 a {
  color: $sta-primary;
  border-bottom: solid 1px transparent;
}

.dark .card .card-image.hover-overlay::before {
  background: #666;
}

.dark .card .card-image.hover-overlay::after {
  color: #fff;
}

.dark select {
  background: rgb(40, 42, 54);
  color: rgb(248, 248, 242);
}

.dark .badge-light {
  color: rgba(255, 255, 255, .68);
  background: rgba(255, 255, 255, .2);
}

.dark .badge-light[href]:focus,
.dark .badge-light[href]:hover {
  background: rgba(255, 255, 255, .3);
}

.dark a.badge:focus,
.dark a.badge:hover {
  color: rgba(255, 255, 255, .68);
}

.dark .btn-primary,
.dark .btn.btn-primary.active {
  color: initial;
}
