{{- define "main" -}}

{{ partial "page_header.html" . }}
<div class="universal-wrapper">
    <div class="row">
      <div class="col-lg-12">
        I am currently looking for several motivated PhD students interested in applied cryptography research at <a href="https://cs.vt.edu">VT</a>. 
        
        <h3>Why Virginia Tech?</h3>
        <ul>
            <li><a href="https://www.usnews.com/best-graduate-schools/top-engineering-schools/virginia-polytechnic-institute-and-state-university-02187">Top 30</a> Engineering School</a></li>
            <li><a href="https://www.usnews.com/best-graduate-schools/virginia-polytechnic-institute-and-state-university-233921/overall-rankings">Reputed Computer Science Program</a> (#40 in grad school ranking)</li>
            <li>Top-notch research environement with competitive salary</li>
            <li>Located in Blacksburg, a <a href="https://www.niche.com/places-to-live/blacksburg-montgomery-va/"> peaceful college town </a> with high-tech companies nearby (<a href="https://block.one/">Block.one</a>, <a href="https://en.wikipedia.org/wiki/Amazon_HQ2">Amazon HQ2</a>)</li>

            <li> And many more...! (check out <a href="https://eng.vt.edu/admissions/why-vt-engineering.html">here</a> and <a href="https://cs.vt.edu/content/dam/website_cs_vt_edu/checksheets/CS-at-VT-by-the-Numbers.pdf">there</a>)</li>
        </ul>
        
        
        
        <h3> Tentative Research Topics</h3>
        
        I work in a broad aspect of applied cryptography, especially privacy-enchaning technologgies. Some research topics include, but are not limited to:
        <ul>
            <li><h6>Secure and Trustworthy Critical Cyberinfrastructure</h6>
                <ul>
                    <li>Searchable Encryption and Oblivious RAM</li>
                    <li>Secure Distributed File System and Cloud Storage </li>
                    <li>Secure Data Sharing Protocols</li>
                </ul>
            </li>
            <li><h6>Applied Multi-Party Computation</h6>
                <ul>
                    <li> Distributed Cloud Computation and Analytics</li>
                </ul>
            </li>

            <li><h6>Distributed Cryptography</h6>
                <ul>
                    <li>Blockchain</li>
                </ul>
            </li>
            

            <li><h6>Trustworthy Computation</h6>
                <ul>
                    <li> Verifiable Computation</li>
                    <li> Privacy-Preserving Machine Learning</li>
                    <li> Differentially Private Machine Learning</li>
                    <li> Privacy-Preserving Federated Learning</li>
                    <li>TEE-Supported Secure Computation</li>
                </ul>
            </li>
            
        </ul>

        <h3> Requirements </h3>
        <h4> Prerequisite </h4>
        <ul>
            <li> Solid background in CS and Math  (data structures, algorithm, number theory)
            <li> Good programming skills, especially in C, C++ and python </li>
            <li> BS degree in ECE/CS with a high GPA </li>
            <li> TOEFL (min. 90) </li>            
        </ul>
        <h4> Desirable </h4>
        <ul>
            
            <li> MS degree in ECE/CS/Math </li>
            <li> High GPA on cybersecurity courses (cryptography, network security, system security) </li>
            <li> Publication in known security & privacy conferences and journals </li>            
        </ul>
        <div id="apply">
        <h3>Apply </h3>
        Please email the following documents to <a href="mailto:thanghoang@vt.edu">thanghoang(at)vt(dot)edu</a>.
        
        <ol>
            <li>Motivation letter</li>
            <li>Research statement</li>
            <li>Transcripts</li>
            <li>CV</li>
            <li><i>Three</i> reference letters</li>
            <li>Publications (if any)</li>
        </ol>
        </div>
        </div>
    </div>
</div>

{{- end -}}
